<div class="shredder">
  <div class="shredder__side shredder__top">
    <div class="shredder__paper shredder__paper--input">
      <div class="shredder__paper-inner">
        <p class="shredder__text" contenteditable>Type your text here then press the green button to shred</p>
      </div>
    </div>
    <div class="shredder__paper shredder__paper--output">
      <div class="shredder__paper-inner"></div>
    </div>
  </div>
  <div class="shredder__side shredder__front">
    <button class="shredder__btn" aria-label="activate shredder"></button>
  </div>
</div>